Source: openhim-config-datim-global
Maintainer: Ryan Crichton <ryan@jembi.org>
Section: web
Priority: optional
Standards-Version: 3.9.1
Build-Depends: debhelper (>= 7)
Homepage: http://www.openhim.org/


Package: openhim-config-datim-global
Architecture: amd64
Depends: openhim-core-js, curl, jq
Recommends:
Description: OpenHIM Config for datim-global
 Automatically configures the openhim-core server installed by the openhim-core debian package.
